Repository home-assistant-libs/zwave-js-server-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pydocstyle, pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

flake8:
  name: flake8
  entry: scripts/run-in-env.sh flake8
  language: script
  require_serial: true

pydocstyle:
  name: pydocstyle
  entry: scripts/run-in-env.sh pydocstyle
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

README
  README.md
Due: none

Remove TypedDicts and Clients from dataclass repr (#781)
  zwave_js_server/const/__init__.py
  zwave_js_server/model/controller/firmware.py
  zwave_js_server/model/controller/statistics.py
  zwave_js_server/model/duration.py
  zwave_js_server/model/log_message.py
  zwave_js_server/model/node/firmware.py
  zwave_js_server/model/node/health_check.py
  zwave_js_server/model/node/statistics.py
  zwave_js_server/model/notification.py
  zwave_js_server/model/statistics.py
  zwave_js_server/model/value.py
Due: mypy, flake8, pydocstyle, pylint

Move hooks out of local where possible
  .pre-commit-config.yaml
Due: none

Add EOF
  .pre-commit-config.yaml
Due: none

Set up pre-commit (#782)
  .pre-commit-config.yaml
  README.md
  requirements_lint.txt
  scripts/run-in-env.sh
  scripts/setup
Due: none

Add isort to pre-commit
  .pre-commit-config.yaml
  requirements_lint.txt
Due: none

Switch to ruff in tests and precommit
  .pre-commit-config.yaml
  pyproject.toml
  requirements_lint.txt
  setup.cfg
  test/conftest.py
  test/model/test_controller.py
  test/model/test_driver.py
  test/model/test_node.py
  test/test_client.py
  test/test_version.py
  tox.ini
  zwave_js_server/client.py
  zwave_js_server/const/__init__.py
  zwave_js_server/event.py
  zwave_js_server/exceptions.py
  zwave_js_server/model/controller/__init__.py
  zwave_js_server/model/controller/event_model.py
  zwave_js_server/model/controller/inclusion_and_provisioning.py
  zwave_js_server/model/controller/rebuild_routes.py
  zwave_js_server/model/controller/statistics.py
  zwave_js_server/model/device_config.py
  zwave_js_server/model/driver.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/log_config.py
  zwave_js_server/model/node/__init__.py
  zwave_js_server/model/node/event_model.py
  zwave_js_server/model/node/firmware.py
  zwave_js_server/model/node/statistics.py
  zwave_js_server/model/statistics.py
  zwave_js_server/model/value.py
  zwave_js_server/model/version.py
  zwave_js_server/util/node.py
Due: mypy, flake8, pydocstyle, pylint

fix imports
  scripts/generate_multilevel_sensor_constants.py
  scripts/generate_notification_constants.py
  scripts/run_mock_server.py
Due: none

use the same tests across all modules
  .pre-commit-config.yaml
  scripts/generate_multilevel_sensor_constants.py
  scripts/generate_notification_constants.py
  scripts/run_mock_server.py
  tox.ini
Due: none

try enabling warn return any again
  setup.cfg
Due: none

Switch to ruff in tests and precommit (#786)
  .pre-commit-config.yaml
  pyproject.toml
  requirements_lint.txt
  scripts/generate_multilevel_sensor_constants.py
  scripts/generate_notification_constants.py
  scripts/run_mock_server.py
  setup.cfg
  test/conftest.py
  test/model/test_controller.py
  test/model/test_driver.py
  test/model/test_node.py
  test/test_client.py
  test/test_version.py
  tox.ini
  zwave_js_server/client.py
  zwave_js_server/const/__init__.py
  zwave_js_server/event.py
  zwave_js_server/exceptions.py
  zwave_js_server/model/controller/__init__.py
  zwave_js_server/model/controller/event_model.py
  zwave_js_server/model/controller/inclusion_and_provisioning.py
  zwave_js_server/model/controller/rebuild_routes.py
  zwave_js_server/model/controller/statistics.py
  zwave_js_server/model/device_config.py
  zwave_js_server/model/driver.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/log_config.py
  zwave_js_server/model/node/__init__.py
  zwave_js_server/model/node/event_model.py
  zwave_js_server/model/node/firmware.py
  zwave_js_server/model/node/statistics.py
  zwave_js_server/model/statistics.py
  zwave_js_server/model/value.py
  zwave_js_server/model/version.py
  zwave_js_server/util/node.py
Due: mypy, flake8, pydocstyle, pylint

Add node.async_set_raw_config_parameter_value command
  zwave_js_server/const/__init__.py
  zwave_js_server/model/node/__init__.py
  zwave_js_server/model/value.py
Due: mypy, flake8, pydocstyle, pylint

fixes
  zwave_js_server/model/node/__init__.py
Due: mypy, flake8, pydocstyle, pylint

remove raw data from repr
  zwave_js_server/model/value.py
Due: mypy, flake8, pydocstyle, pylint

try again
  test/conftest.py
  test/test_main.py
Due: flake8, pydocstyle

tricky tricky
  test/test_client.py
  test/test_dump.py
Due: flake8, pydocstyle

fix bugs and add tests
  test/model/test_node.py
  zwave_js_server/model/node/__init__.py
  zwave_js_server/model/value.py
Due: mypy, flake8, pydocstyle, pylint

black
  zwave_js_server/model/endpoint.py
Due: mypy, flake8, pydocstyle, pylint

Create endpoint version of command and refactor node commands
  test/model/test_node.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/node/__init__.py
Due: mypy, flake8, pydocstyle, pylint

Add additional test scenario
  test/model/test_node.py
  zwave_js_server/model/endpoint.py
Due: mypy, flake8, pydocstyle, pylint

Add support for cancelling waiting for a command to Endpoint
  setup.cfg
  test/model/test_node.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/node/__init__.py
Due: mypy, flake8, pydocstyle, pylint

fix test
  test/model/test_node.py
Due: flake8, pydocstyle

remove cast and disable warn_return_any directive
  setup.cfg
  zwave_js_server/model/endpoint.py
Due: mypy, flake8, pydocstyle, pylint

Add support for cancelling waiting for a command to Endpoint (#788)
  setup.cfg
  test/model/test_node.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/node/__init__.py
Due: mypy, flake8, pydocstyle, pylint

Add Central Scene CC constant
  zwave_js_server/const/command_class/central_scene.py
Due: mypy, flake8, pydocstyle, pylint

Fix docstring
  zwave_js_server/const/command_class/thermostat.py
Due: mypy, flake8, pydocstyle, pylint

Update zwave_js_server/const/command_class/central_scene.py
  zwave_js_server/const/command_class/central_scene.py
Due: mypy, flake8, pydocstyle, pylint

Add additional constants
  zwave_js_server/const/command_class/basic.py
  zwave_js_server/const/command_class/scene_activation.py
Due: mypy, flake8, pydocstyle, pylint

Add value notification constants (#790)
  zwave_js_server/const/command_class/basic.py
  zwave_js_server/const/command_class/central_scene.py
  zwave_js_server/const/command_class/scene_activation.py
  zwave_js_server/const/command_class/thermostat.py
Due: mypy, flake8, pydocstyle, pylint

Update response so we can access result
  test/util/test_node.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/node/__init__.py
  zwave_js_server/model/value.py
  zwave_js_server/util/node.py
Due: mypy, flake8, pydocstyle, pylint

fix
  test/model/test_node.py
  zwave_js_server/model/endpoint.py
Due: mypy, flake8, pydocstyle, pylint

fix imports
  zwave_js_server/model/endpoint.py
Due: mypy, flake8, pydocstyle, pylint

Add coverage
  test/model/test_node.py
Due: flake8, pydocstyle

Add lock setConfiguration util cmd
  zwave_js_server/const/command_class/lock.py
  zwave_js_server/util/lock.py
Due: mypy, flake8, pydocstyle, pylint

Bump lib to 0.53.0
  setup.py
Due: none

optimize
  zwave_js_server/util/lock.py
Due: mypy, flake8, pydocstyle, pylint

Add node.async_set_raw_config_parameter_value command (#780)
  test/conftest.py
  test/model/test_node.py
  test/test_client.py
  test/test_dump.py
  test/test_main.py
  test/util/test_node.py
  zwave_js_server/const/__init__.py
  zwave_js_server/model/endpoint.py
  zwave_js_server/model/node/__init__.py
  zwave_js_server/model/value.py
  zwave_js_server/util/node.py
Due: mypy, flake8, pydocstyle, pylint

fix import
  zwave_js_server/util/lock.py
Due: mypy, flake8, pydocstyle, pylint

mypy
  zwave_js_server/util/lock.py
Due: mypy, flake8, pydocstyle, pylint

Add devcontainer
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  mypy: any of: ^(zwave_js_server)/.+\.py$ and \.py$
  flake8: any of: ^(zwave_js_server|test)/.+\.py$ and \.py$
  pydocstyle: any of: ^(zwave_js_server|test)/.+\.py$ and \.py$
  pylint: any of: ^zwave_js_server/.+\.py$ and \.py$
